.SideBar {
    align-self: start;
    display: grid;
    margin-left: 1vw;
    grid-area: SideBar;
    border-bottom: 1vh solid black;
    border-right: 1vh solid black;
    position: relative;
    z-index: 20;
}

.SideBar__Topic {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw 0 0.7vw;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;

    :hover {
        color: #BD3900;
        transition: color 0.2s ease;
        cursor: pointer;
    }
}
