.App {
    height: 100vh;
    width: 100vw;
    background-color: #F8F4ED;
    font: 400 14px "Nyght Serif";
    color: black;
    text-align: center;


    ::selection {
        background: #BD3900;
        color: #faeeee;
    }
}

.App__maintenance_img {
    padding-top: 8rem;
}